@import 'colors';
@import "color_schemes/autoFestive";

body {


  background-color : $white;  
  
  a.btn-orange {
    background-color: $lunar-resort-orange;
    margin-right: 5px;

    &:hover {
      border-color: $white;
    }

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  header {
		  .switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}
		
		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}
  
		  .slider {
			  position: absolute;
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #ccc;
			  -webkit-transition: .4s;
			  transition: .4s;
		}
		
		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
		
		input:checked + .slider {
		  background-color: black;
		}
		
		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}
		
		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}
		
		
		.slider.round {
		  border-radius: 34px;
		}
		
		.slider.round:before {
		  border-radius: 50%;
		}
		    
	
    .lunar-user a {
        color: $lunar-resort-link-teal;
    }

    .user-avatar-link .lexicon-icon {
      color: $lunar-resort-blue;
    }

	.auto-logo-container{
		width : 250px;
	
	.auto-logo-anc{
		width: 100%;
   		display: flex;
	}
	.auto-logo-name{
		margin:0.5rem;
		
		 span{
		font-size:24px;
		}
		
	}
	}
    li.nav-item {
      & a.nav-link span {
        font-size: 1rem;
      }

      &:hover ul.child-menu {
      
        display: block;
        margin-top: -10px;
	        
      }

     

      @include media-breakpoint-down(sm){
        ul.child-menu {
          display: block;
        }
      }    
    }
  }
  
  
  
  
  
  #footer {
  
  	background-color: $auto-grey;
  
  color: $white;
  ul {
    margin-left: auto;
    margin-right: auto;

    &.navbar-nav {
      width: 410px;
      .nav-item.hover:after {
        width: auto;
      }

      a {
        color: $white;
        @include media-breakpoint-down(sm) {
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }
  }

  #socialMediaWrapper ul {
    width: 192px;

    li a {
      font-size: 2rem;
    }
  }

  p.powered-by a, .contact-info-container a {
      color: $lunar-resort-link-teal;
  }

}
  
  
  &.has-control-menu {
  header {
    margin-top: 56px;  
    @include media-breakpoint-down(sm){
      margin-top: 48px;
    }  
  }
}

  #main-content{
  		
  		section > div {
  			width: 100%;
		    padding-right: 12px;
		    padding-left: 12px;
		    margin-right: auto;
		    margin-left: auto;
  		}
  		
  }
}

